CUSTOMER SUPPORT EMAIL SENDER
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d7c1b656-6cd4-48b4-8e27-a0e932daa99a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "uQlm113e2hLEyHdg",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support ",
              "description": "An Email that is related to customers helping center. Where they may asking questions about product policies or services"
            },
            {
              "category": "Other ",
              "description": "Any email that is not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "f19e6049-a869-412e-9bbe-ba54edd560ca",
      "name": "Text Classifier"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        740,
        300
      ],
      "id": "9acf0ad0-913e-4f13-9590-bbd148000b8f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        220
      ],
      "id": "c7c627d9-cd39-4f6e-a1ca-6621054a6e5c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "icUuXEWkuwpfAj9w",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  {{ $json.text }}",
        "options": {
          "systemMessage": "=#overview\n\nYou are a helpful Customer Support agent for KN solutions. Your job is to respond to the incoming emails with relevant information using knowledbeBase tool.\n\n##Instructions\n\n-Your reply should be friendly manner, Use emojis and   Genz language. \n-Signing off Mr. Senders Name And give them a genz nick name.\n\n#Output\n\nOutput only the body of the email.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        820,
        -220
      ],
      "id": "2db548b0-278a-416a-94af-14880969a8fc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        0
      ],
      "id": "f85e8b6d-7ba6-452c-8394-daac4e49c4cd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "icUuXEWkuwpfAj9w",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to Access Policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "newindex",
          "mode": "list",
          "cachedResultName": "newindex"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1060,
        0
      ],
      "id": "83641cfe-ed8d-4c05-a2ec-a001eb219f1a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "aosx4QvHCSTTBSom",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1140,
        220
      ],
      "id": "037e6ab5-73f6-49f1-8422-f72e6b9e43be",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "VTzNCNFXyGel86iR",
          "name": "HuggingFaceApi account 9"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1180,
        -220
      ],
      "id": "819c5ffe-8385-4dbf-974e-49760c024fe1",
      "name": "Reply to a message",
      "webhookId": "93353bc2-1d27-4ffd-93f0-d91a37edda65",
      "credentials": {
        "gmailOAuth2": {
          "id": "uQlm113e2hLEyHdg",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e63c03dbe814b895afb1186b8ccf8f5eb6e613897b9069867d15c6ed9616c79"
  }
}
